

.left {
    box-sizing: border-box;
    width: 50vw;
    margin: 10px auto;
    margin-bottom: 0;
    box-shadow: 20px 0 20px 0 #000;
}
.left video {
    width: 100%;
    height: auto;
}

.centrado {
    display:flex;
    justify-content: space-around;
    
    width: 90%;
    margin: 0px auto;
    margin-bottom: 60px;
}

.galeria {
    margin: 20px;
    box-shadow: 0 0 15px 0 #000;
    float: left;
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}

div.galeria img {
    width: 100%;
    height: auto;
}

.descripcion {
    text-align: center;
    box-sizing: border-box;
}

img:hover {
    opacity:.5;
}
